<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rust.twod"
    android:versionCode="16777992"
    android:versionName="0.3.8"
    android:sharedUserLabel="@string/string_name"
    android:installLocation="internalOnly">
</manifest>
