<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rust.twod"
    android:sharedUserId = "12.321312.312.3123.1" 
    android:targetSandboxVersion = "12.2.1"
    android:versionCode="16777992"
    android:versionName="0.3.8"
    android:sharedUserLabel="@string/resource_name"
    android:installLocation="internalOnly">
    <application android:hasCode="false"
        android:allowTaskReparenting = "true"
        android:allowBackup="false"
        android:allowClearUserData="true"
        android:allowNativeHeapPointerTagging="true"
        android:backupAgent="HHHHH"
        android:backupInForeground="true"
        android:banner="@drawable/ic_launcher"
        android:description="@string/resource_name"
        android:directBootAware="true"
        android:enabled="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="test1"
        android:fullBackupOnly="true"
        android:gwpAsanMode="never"
        android:hasFragileUserData="true"
        android:hardwareAccelerated="true"
        android:isGame="true"
        android:killAfterRestore="true"
        android:largeHeap="true"
        android:logo="@drawable/icasdncher"
        android:manageSpaceActivity="test2"
        android:name="test3"
        android:networkSecurityConfig="@xml/network_security_config"
        android:permission="test4"
        android:persistent="true"
        android:process="test5"
        android:restoreAnyVersion="true"
        android:requestLegacyExternalStorage="true"
        android:requiredAccountType="test6"
        android:resizeableActivity="true"
        android:restrictedAccountType="test7"
        android:supportsRtl="true"
        android:taskAffinity="test8"
        android:testOnly="true"
        android:uiOptions="none"
        android:usesCleartextTraffic="true"
        android:vmSafeMode="true"
        android:label="Creator 2D"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
    </application>
</manifest>