<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="rust.twod"
        android:sharedUserId="12.321312.312"
        android:targetSandboxVersion="12.2.1"
        android:versionCode="16777992"
        android:versionName="0.3.8"
        android:sharedUserLabel="@string/resource_name"
        android:installLocation="internalOnly">
        <compatible_screens>
                <screen
                android:screenSize="normal"
                android:screenDensity="xhdpi"></screen>
        </compatible_screens>
     <instrumentation
         android:functionalTest="false"
         android:handleProfiling="true"
         android:icon="@drawable/ic_la"
         android:label="testLabel"
         android:name="dasd"
         android:targetPackage="com.asdada"
         android:targetProcesses="asdaad" >
     </instrumentation>  
    <permission
        android:description="@string/asdawdasd"
        android:icon="@drawable/ic_ladfsdsd"
        android:label="asdasd"
        android:name="qqqew"
        android:permissionGroup="AAAAAA"
        android:protectionLevel="normal">
    </permission>
    <permission_group
        android:description="@string/re"
        android:icon="@drawable/iasdw"
        android:label="@string/rqweqweqsad"
        android:name="ADDDD"
    ></permission_group>
    <permission_tree
        android:icon="@drawable/ddaladfs"
        android:label="@string/fdffdde"
        android:name="GGGGG"
    ></permission_tree>
    <supports_gl_texture
        android:name="GL_OES_compressed_ETC1_RGB8_texture"
    ></supports_gl_texture>
     <supports_screens
                android:resizeable="false"
                android:smallScreens="true"
                android:normalScreens="false"
                android:largeScreens="false"
                android:xlargeScreens="false"
                android:anyDensity="false"
                android:requiresSmallestWidthDp="2131"
                android:compatibleWidthLimitDp="123"
                android:largestWidthLimitDp="4444"
     ></supports_screens>
     <uses_configuration
                android:reqFiveWayNav="false"
                android:reqHardKeyboard="true"
                android:reqKeyboardType="nokeys"
                android:reqNavigation="dpad"
                android:reqTouchScreen="notouch"
     ></uses_configuration>
        <uses_feature
                android:name="LLLLLL"
                android:required="false"
                android:glEsVersion="3321"
        ></uses_feature>
        <uses_permission
                android:name="NNNN"
                android:maxSdkVersion="4123"
        ></uses_permission>
        <uses_permission_sdk_23
                android:name="AADDWQ"
                android:maxSdkVersion="67"
        ></uses_permission_sdk_23>
        <uses_sdk
                android:minSdkVersion="332"
                android:targetSdkVersion="436"
                android:maxSdkVersion="500"
        ></uses_sdk>
    <application
            android:hasCode="false"
            android:allowTaskReparenting="true"
            android:allowBackup="false"
            android:allowClearUserData="true"
            android:allowNativeHeapPointerTagging="true"
            android:backupAgent="HHHHH"
            android:backupInForeground="true"
            android:banner="@drawable/ic_launcher"
            android:description="@string/resource_name"
            android:directBootAware="true"
            android:enabled="true"
            android:extractNativeLibs="true"
            android:fullBackupContent="test1"
            android:fullBackupOnly="true"
            android:gwpAsanMode="never"
            android:hasFragileUserData="true"
            android:hardwareAccelerated="true"
            android:isGame="true"
            android:killAfterRestore="true"
            android:largeHeap="true"
            android:logo="@drawable/icasdncher"
            android:manageSpaceActivity="test2"
            android:name="test3"
            android:networkSecurityConfig="@xml/network_security_config"
            android:permission="test4"
            android:persistent="true"
            android:process="test5"
            android:restoreAnyVersion="true"
            android:requestLegacyExternalStorage="true"
            android:requiredAccountType="test6"
            android:resizeableActivity="true"
            android:restrictedAccountType="test7"
            android:supportsRtl="true"
            android:taskAffinity="test8"
            android:testOnly="true"
            android:uiOptions="none"
            android:usesCleartextTraffic="true"
            android:vmSafeMode="true"
            android:label="Creator 2D"
            android:debuggable="true"
            android:icon="@drawable/ic_launcher"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        <provider
                android:name="TelephonyProvider"
                android:authorities="telephony"
                android:exported="true"
                android:singleUser="true"
                android:multiprocess="false" />
        <provider
                android:name="SmsProvider"
                android:authorities="sms"
                android:exported="true"
                android:singleUser="true"
                android:multiprocess="false" />
           <activity
                android:allowEmbedded="false"
                android:allowTaskReparenting="false"
                android:alwaysRetainTaskState="false"
                android:autoRemoveFromRecents="false"
                android:banner="@drawable/ffdalau"
                android:clearTaskOnLaunch="true"
                android:colorMode="Hdr"
                android:configChanges="Mcc"
                android:directBootAware="true"
                android:documentLaunchMode="Never"
                android:enabled="false"
                android:excludeFromRecents="true"
                android:exported="true"
                android:finishOnTaskLaunch="false"
                android:hardwareAccelerated="true"
                android:icon="@drawable/oooiaa"
                android:immersive="false"
                android:label="@string/bbnsa"
                android:launchMode="Standard"
                android:lockTaskMode="Normal"
                android:maxRecents="2231"
                android:maxAspectRatio="3.7_f32"
                android:multiprocess="true"
                android:name="Adoka"
                android:noHistory="false"
                android:parentActivityName="DMBHJ"
                android:persistableMode="PersistNever"
                android:permission="GFFJK"
                android:process="ffeww"
                android:relinquishTaskIdentity="false"
                android:resizeableActivity="true"
                android:screenOrientation="User"
                android:showForAllUsers="true"
                android:stateNotNeeded="false"
                android:supportsPictureInPicture="true"
                android:taskAffinity="ATTRE"
                android:theme="@style/red"
                android:uiOptions="AREQWESDS"
                android:windowSoftInputMode="StateUnchanged"
           ></activity> 
        <activity_alias
                android:enabled="false"
                android:exported="true"
                android:icon="@drawable/koejf"
                android:label="@string/reeqw"
                android:name="adadwq"
                android:permission="llkkkj"
                android:targetActivity="AAWadsdad"        
        ></activity_alias>
        <meta_data
                android:name= "com.example.project"
                android:resource="@drawable/jamba"
                android:value="ASDAsx"
        ></meta_data>
        <service
                android:description="@string/badawqqq"
                android:directBootAware="false"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="Camera"
                android:icon="@drawable/trrqd"
                android:isolatedProcess="false"
                android:label="auygdy"
                android:name="aosdhua"
                android:permission="Llaoda"
                android:process="asdjiqwuyq"
        ></service>
        <receiver
                android:directBootAware="true"
                android:enabled="false"
                android:exported="true"
                android:icon="@drawable/ppoohh"
                android:isolatedProcess="false"    
                android:label="adhqweq"
                android:name="aqeqeqwsssa"
                android:permission="Wqeqsdq"   
                android:process="adwaxxzqwqd"
        ></receiver>
        <provider
                android:authorities="authority1;authority2;authority3"    
                android:enabled="false"
                android:directBootAware="false"
                android:exported="false"
                android:grantUriPermissions="true"
                android:icon="@drawable/fjhqeifg"
                android:initOrder="22"
                android:label="fjjw"
                android:multiprocess="true"
                android:name="asdada"
                android:permission="aqqew"
                android:process="kjgfg"
                android:readPermission="ddskkj"
                android:syncable="false"
                android:writePermission="asdallsa"
        ></provider>
        <uses_library
                android:name="afsfdw"
                android:required="false"
        ></uses_library>
    </application>
</manifest>